<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="assets/css/styles.css">
  <title>Tailwind CSS Demo</title>
</head>

<body class="bg-blue-300" style="background-image: url(./assets/bg5.jpg)">
  <div id="app">
    <div class="container mx-auto pt-5 z-0">
      <h1 class="text-center font-bold mb-5 text-5xl text-black bg-blue-300">Photo Gallery</h1>
      <div class="h-100 w-full flex items-center justify-center bg-teal-lightest font-sans">
        <form class="w-full border border-purple-500 max-w-xs bg-white shadow-md rounded px-5 pt-5 pb-5 mb-4">
          <input v-model="cari" class="bg-white focus:outline-none focus:shadow-outline border border-gray-300 rounded-lg py-2 px-4 block w-full appearance-none leading-normal" type="tex" placeholder="Lorem Ipsum">
          <h4 class="mt-3 mb-3" v-if="cari.length >= 1 && cari.length <= 2">Loading...</h4>
          <h4 class="mt-3 mb-3">{{message}}</h4>
          <p class="max-w-xl text-center text-gray-600 text-xs">
            Coded by Musfirotus
          </p>
        </form>
      </div>
      <div class="h-100 w-full flex items-center justify-center font-sans">
        <div class="border border-white-500 w-full bg-blue-500 shadow-md rounded pt-6 pb-8 px-5">
          <div v-if="searchData.length == 0 || cari.length == 2 || cari.length == 1" class="pb-0">
            <h1 class="text-center">Data tidak ada!</h1>
          </div>
          
          <div v-if="(searchData.length != 0 && cari.length >= 3 ) || cari.length == 0" class="grid grid-cols-3 grid-rows-auto gap-3">
            <div v-for="f in searchData">
              <div class="mx-2 mb-auto rounded-b-full rounded-t-full bg-white overflow-hidden shadow-lg p-5 border border-purple-500 w-6xl  pt-4 pb-4">
                <a v-bind:href="f.url" target="_blank">
                  <img class="w-full p-4" v-bind:src="f.thumbnailUrl" alt="Sunset in the mountains">
                  <div class="px-auto text-center py-4">
                    <div class="font-bold text-base sm:text-lg md:text-xl lg:text-2xl xl:text-3xl mb-2">{{f.title}}</div>
                  </div>
                </a>
              </div>
            </div>
          </div>
          
        </div>
      </div>
    </div>
  </div>
  <!-- File Script-->
  <script src="./assets/vendor/vue.js"></script>
  <script src="./assets/js/app.js"></script>
</body>

</html>